<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link href="/css/login.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <h3 class="title">UBB workspace</h3>
        <div class="login-container">
            <form name="login-form" action="/cookie" method="get">
                <div class="login-form__title__div">
                    <p class="login-form__title__p">Log in</p>
                </div>
                <input class="login-form__input" type="text" name="email" placeholder="Email"/>
                <input class="login-form__inpput" type="password" name="password" placeholder="Password"/>
                <button class="login-form__button" type="button">Login</button>
            </form>
        </div>
    </div>
    <script src="/js/login.js"></script>
</body>
</html>